# Windows Visual Studio + Unreal

# IDE 파일
.vs/
*.suo
*.VC.db
*.VC.opendb

# 빌드 아웃풋
*.obj
*.exe
*.dll
*.lib
*.app
*.out

# Unreal Engine
Binaries/
Build/
Intermediate/
Saved/
DerivedDataCache/
*_BuiltData.uasset

# 생성된 프로젝트 파일
*.xcodeproj
*.xcworkspace

# 텍스트/라인엔딩
* text=auto
*.cpp text eol=lf
*.h   text eol=lf